.user-loader {
  margin: 2px 10px;
  font-style: italic;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.user-list {
  display: inline-flex;
}

.user-div {
  display: inline-flex;
  padding: 2px;
  align-items: center;
  justify-content: center;
  font: 12px sans-serif;
  font-weight: 600;
}
